<div class="flex-container">
    <h1>{{title}}</h1>
    <hr>
    <img class="aboutus" alt="aboutus">
    <p> The Cardbase app, offers create a sports cards like Cricket cards, Baseball cards, Football cards, Boxing cards,
        Golf cards,
        Basketball cards,
        Hockey cards, Wrestling cards and Soccer cards to the app.</p>

    <article>Create a card with playerName,TeamName, estimatedPrice.</article>
    <article>Based cards it willl calulate the total Estimated Value in top corner of app.</article>

</div>